{% extends "roles/manager/index.html" %}

{% block inner %}
<div class="container mt-2 ">
	<h3>Ваші плани</h3>
	<table class="table bg-white">
	    <thead>
	        <tr>
	            <th>KPI</th>
	            <th>Amount</th>
	            <th>Період</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for plan in object_list %}
	        <tr>
	            <td class="text-center">{{plan.KPI}}</td>
	            <td>{{plan.amount}}</td>
	            <td>{{plan.general_plan.date_from}} - {{plan.general_plan.date_to}} </td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}