{% extends "roles/manager/index.html" %}

{% block inner %}

<div class="container">
	<h3>Рейтинг найкращих менеджерів</h3>
    <table class="table table-striped bg-white">
	    <thead>
	        <tr>
                <th>Номер</th>
                <th>Користувач</th>
	            <th>Рейтинг</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for top in tops %}
	        <tr {% if top.is_self %}
	            class="bg-success"
                {% endif %}
            >
                {% if top.is_self %}
	            <td class="text-center">

                        {{ top.number }}
                </td>
	                {% else %}
                <td class="text-center">
                        {{ forloop.counter }}
                </td>
	                {% endif %}
                <td>{{top.user}}</td>
	            <td>{{ top.sum_kpis }} </td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}