
{% load dvisparish %}
<h3 >Поточні завдання</h3>
      <div class="mt-2 p-2 bg-success text-white">
        {% for m_kpi in user|current_manager_KPIs %}

            <h5 class="my-0"><b>{{ m_kpi.KPI.indicator_name }}</b></h5>
            <div>
                <span class="float-left">
                    {{ m_kpi.KPI.date_from|date:"d b" }} - {{ m_kpi.KPI.date_to|date:"d b" }}
                </span>
                {% get_sum_result_user_kpi user m_kpi.KPI as result_KPI %}
                <span class="float-right">
                    {{ result_KPI }} / {{ m_kpi.amount }}
                </span>
            </div>
            <hr>

        {% endfor %}
    </div>
