{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-6">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
        <p>Ролі: {{object.get_groups_display}}</p>
        <p>Ваш Банк офіс: {{ object.bankoffice }}</p>
    </div>
    <div class="col-md-3">

    {% include "roles/manager/includes/currens_KPIs.html" %}
  </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
   <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "images/logo.png" %}" style="
    height: 60px;
    padding: 0 10px;
    margin-top: -20px;
"><span>
СКАРБничка
        </span>
        </a>
    </div>
  </div>
<!-- End Action buttons -->
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h3>Ваші Премії <i class="fas fa-money-bill-alt"></i></h3>
        <table class="table table-striped bg-white">
	    <thead>
	        <tr>
	            <th>Сума</th>
	            <th>Дата</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for premium in user.premiums.all %}
	        <tr>
	            <td>{{premium.amount}}</td>
                <td class="text-center">{{premium.date }}</td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
    </div>
    <div class="col-md-6">
        <h3>Ваші Бонуси</h3>
        <table class="table table-striped bg-white">
	    <thead>
	        <tr>
	            <th>Сума</th>
	            <th>Дата</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for bonus in user.Bonus.all %}
	        <tr>
	            <td>{{bonus.amount}}</td>
                <td class="text-center">{{bonus.date }}</td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
    </div>
</div>

</div>
{% endblock content %}
