{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">

            <img class="w-100" src="{% static "images/idea.png" %}" alt="Ми хочемо запропонувати ПЗ, яке дозволить менеджеру в реальному часі слідкувати за своїми показниками на сайті та через мобільний додаток. Ми пропонуємо гейміфікувати систему мотивації. Результати роботи менеджера трансформуються в кошти, які накопичуються у віртуальній скарбничці. Це премії та бонуси, які він отримає. Це можна зобразити, як гру із завданнями, рівнями, рейтингами. Нагорода у грі матеріальна - виплати в кінці звітного періоду (кварталу).">
            <img class="w-100" src="{% static "images/out_see.png" %}" alt="Ми хочемо запропонувати ПЗ, яке дозволить менеджеру в реальному часі слідкувати за своїми показниками на сайті та через мобільний додаток. Ми пропонуємо гейміфікувати систему мотивації. Результати роботи менеджера трансформуються в кошти, які накопичуються у віртуальній скарбничці. Це премії та бонуси, які він отримає. Це можна зобразити, як гру із завданнями, рівнями, рейтингами. Нагорода у грі матеріальна - виплати в кінці звітного періоду (кварталу).">
        </div>
        <div class="col-md-4 h-100 bg-white">
            <h3>Творці продукту!</h3>
            <img class="w-100" 600px;"  src="{% static "images/team_logo.png" %}" alt="логотип нашої команди">

        </div>
    </div>

{% endblock %}