{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="contaner bg-white p-4">
    <h3>Менеджери</h3>
        GET / Список менеджерів - <a href="{% url "user-list" %}">{% url "user-list" %}</a>
        <br>
        GET / менеджер детальніше- <a href="{% url "user-list" %}{id}/">"{% url "user-list" %}{id}/"</a>
        <br>
        POST / Створити менеджера - <a href="{% url "user-list" %}{id}/">"{% url "user-list" %}"</a>
        <br>
    <h3>Премії</h3>
        GET / Список Премії - <a href="{% url "premium-list" %}">{% url "premium-list" %}</a>
        <br>
        GET / Премія детальніше- <a href="{% url "premium-list" %}{id}/">"{% url "premium-list" %}{id}/"</a>
        <br>
    <h3>Бонуси</h3>
        GET / Список бонусів - <a href="{% url "bonus-list" %}">{% url "bonus-list" %}</a>
        <br>
        GET / Бонус детальніше- <a href="{% url "bonus-list" %}{id}/">"{% url "bonus-list" %}{id}/"</a>
        <br>
    <h3>Результати менедерів</h3>
        GET / Список Результів - <a href="{% url "resultdaily-list" %}">{% url "resultdaily-list" %}</a>
        <br>
        GET / Результ детальніше - <a href="{% url "resultdaily-list" %}{id}/">"{% url "resultdaily-list" %}{id}/"</a>
        <br>
        POST / Створити результат - <a href="{% url "resultdaily-list" %}{id}/">"{% url "resultdaily-list" %}"</a>
        <br>
    </div>

{% endblock %}